# SPDX-License-Identifier: Apache-2.0
---

# Main variable 'sap_profile_update_definitions' is complex and requires special handling.
# This is achieved by dedicated task files for each level inside of list.
# 1. Systems - Keys: sid, profiles
# 2. Profiles - Keys: type, instance_number, path, parameters
# 3. Parameters - Keys: name, value, state

# 1. Validate through 'sap_profile_update_definitions'
# and check against host to ensure we catch failure before doing changes.
- name: SAP Profile Update - Validate variables
  ansible.builtin.include_tasks:
    file: validation/validate_variables.yml

# 2. Loop through all top level System items to update profiles
# We need one less task file as loop is done in main, instead of validate_variables.yml.
- name: SAP Profile Update - Update parameters
  ansible.builtin.include_tasks:
    file: update/update_system.yml
  loop: "{{ sap_profile_update_definitions }}"
  loop_control:
    loop_var: __sap_profile_update_system
    label: "SID: {{ __sap_profile_update_system.sid }}"
