# SPDX-License-Identifier: Apache-2.0
---

- name: SAP HANA SR Takeover - Assert variables
  ansible.builtin.include_tasks:
    file: prepare_variables.yml

- name: SAP HANA SR Takeover - Detect SAP HANA landscape
  ansible.builtin.include_tasks:
    file: detection/main.yml

- name: SAP HANA SR Takeover - Execute Takeover action
  ansible.builtin.include_tasks:
    file: takeover.yml

- name: SAP HANA SR Takeover - Get System Replication Status after takeover
  ansible.builtin.include_tasks:
    file: detection/sr_state.yml

- name: SAP HANA SR Takeover - Get current status of HDB processes
  ansible.builtin.include_tasks:
    file: detection/getprocesslist.yml

- name: SAP HANA SR Takeover - Show System Replication Status after takeover
  ansible.builtin.debug:
    msg: |
      Current host and availability:
      Host:       {{ inventory_hostname }}
      Available:  {{ __sap_hana_sr_takeover_fact_is_running }} (RC: {{ __sap_hana_sr_takeover_register_getprocesslist.rc }})

      Replication status of current node:
      Online:     {{ __sap_hana_sr_takeover_fact_online }}
      Mode:       {{ __sap_hana_sr_takeover_fact_mode }}
      Site Name:  {{ __sap_hana_sr_takeover_fact_site_name }}
      Primary:    {{ __sap_hana_sr_takeover_fact_is_primary }}
      Secondary:  {{ __sap_hana_sr_takeover_fact_is_secondary }}
