# SPDX-License-Identifier: Apache-2.0
---
- name: Assert that the variable 'sap_rhsm_username' is valid
  ansible.builtin.assert:
    that:
      - sap_rhsm_username is defined
      - sap_rhsm_username is string
      - sap_rhsm_username | trim | length > 0
    fail_msg: |
      The variable 'sap_rhsm_username' is undefined or invalid!

- name: Assert that the variable 'sap_rhsm_password' is valid
  ansible.builtin.assert:
    that:
      - sap_rhsm_password is defined
      - sap_rhsm_password is string
      - sap_rhsm_password | trim | length > 0
    fail_msg: |
      The variable 'sap_rhsm_password' is undefined or invalid!

- name: Assert that the variable 'sap_rhsm_pool_id' is valid
  ansible.builtin.assert:
    that:
      - sap_rhsm_pool_id is defined
      - sap_rhsm_pool_id is string
      - sap_rhsm_pool_id | trim | length > 0
    fail_msg: |
      The variable 'sap_rhsm_pool_id' is undefined or invalid!


- name: Register - Clean Subscription Manager
  ansible.builtin.command:
    cmd: "subscription-manager clean"

- name: Register - Remove Subscription Manager
  ansible.builtin.command:
    cmd: "subscription-manager remove --all"

- name: Register - Register Subscription Manager
  ansible.builtin.command:
    cmd: 'subscription-manager register --force --username={{ sap_rhsm_username }} --password="{{ sap_rhsm_password }}"'
  no_log: true

- name: Register - Regenerate Identity
  ansible.builtin.command:
    cmd: 'subscription-manager identity --regenerate --force --username={{ sap_rhsm_username }} --password="{{ sap_rhsm_password }}"'
  no_log: true

- name: Register - Auto Attach
  ansible.builtin.command:
    cmd: "subscription-manager auto-attach"

- name: Register - Attach Pool
  ansible.builtin.command:
    cmd: 'subscription-manager attach --pool="{{ sap_rhsm_pool_id }}"'

- name: Register - Lock Release
  ansible.builtin.command:
    cmd: "subscription-manager release --set={{ ansible_distribution_version }}"

- name: Register - Disable Repos
  ansible.builtin.command:
    cmd: 'subscription-manager repos --disable="*"'

- name: Register - Enable Repos
  ansible.builtin.command:
    cmd: 'subscription-manager repos --enable="{{ item }}"'
  loop: "{{ sap_rhsm_repos }}"
  when:
    - sap_rhsm_repos is defined
    - sap_rhsm_repos is mapping
    - sap_rhsm_repos | length > 0

- name: Register - Yum clean all
  ansible.builtin.command:
    cmd: "yum clean all"

- name: Register - Yum search 'sap-'
  ansible.builtin.command:
    cmd: "yum -y search sap-"

- name: Register - Yum install
  ansible.builtin.command:
    cmd: "yum -y install {{ item }}"
  loop: "{{ sap_rhsm_packages }}"
  when:
    - sap_rhsm_packages is defined
    - sap_rhsm_packages is mapping
    - sap_rhsm_packages | length > 0

- name: Register - Clear dnf cache
  ansible.builtin.file:
    path: /var/cache/dnf
    state: absent

- name: Register - Clear rhsm packages
  ansible.builtin.file:
    path: /var/lib/rhsm/packages/packages.json
    state: absent

- name: Register - Restart service rhsmcertd
  ansible.builtin.service:
    name: rhsmcertd
    state: restarted
