# SPDX-License-Identifier: Apache-2.0
---
- name: Refresh - Refresh Subscription Manager
  ansible.builtin.command:
    cmd: "subscription-manager refresh"

- name: Refresh - Regenerate Identity
  ansible.builtin.command:
    cmd: "subscription-manager identity --regenerate"

- name: Refresh - Lock Release
  ansible.builtin.command:
    cmd: "subscription-manager release --set={{ ansible_distribution_version }}"

- name: Refresh - Yum clean all
  ansible.builtin.command:
    cmd: "yum clean all"

- name: Refresh - Clear dnf cache
  ansible.builtin.file:
    path: /var/cache/dnf
    state: absent

- name: Refresh - Clear rhsm packages
  ansible.builtin.file:
    path: /var/lib/rhsm/packages/packages.json
    state: absent

- name: Refresh - estart service rhsmcertd
  ansible.builtin.service:
    name: rhsmcertd
    state: restarted
