# SPDX-License-Identifier: Apache-2.0
---
- name: Get stat of the file 'fapolicyd.fifo'
  ansible.builtin.stat:
    path: /run/fapolicyd/fapolicyd.fifo
  register: __sap_fapolicy_stat_fifo_register

- name: Get stat of the file 'fapolicyd.rules'
  ansible.builtin.stat:
    path: /etc/fapolicyd/fapolicyd.rules
  register: __sap_fapolicy_stat_rules_register

- name: Add header line to the file 'fapolicyd.rules'
  ansible.builtin.lineinfile:
    path: /etc/fapolicyd/fapolicyd.rules
    line: "{{ sap_fapolicy_rules_header }}"
    insertafter: "# or anything else applications access that is not a computer language."  #  Hardcoded.
  when: __sap_fapolicy_stat_rules_register.stat.exists

- name: Add rules to the file 'fapolicyd.rules' for user {{ sap_fapolicy_user }}
  ansible.builtin.lineinfile:
    path: /etc/fapolicyd/fapolicyd.rules
    line: "allow perm=any uid={{ sap_fapolicy_user }} : dir='{{ item }}'"
    insertafter: "{{ sap_fapolicy_rules_header }}"
  when: __sap_fapolicy_stat_rules_register.stat.exists
  loop: "{{ sap_fapolicy_directory_list }}"

- name: Add trust=1 to the file 'fapolicyd.rules' for user {{ sap_fapolicy_user }}
  ansible.builtin.lineinfile:
    path: /etc/fapolicyd/fapolicyd.rules
    line: "allow perm=any uid={{ sap_fapolicy_user }} trust=1 : all"
    insertafter: "{{ sap_fapolicy_rules_header }}"
  when: __sap_fapolicy_stat_rules_register.stat.exists

- name: Execute update of fapolicy database
  ansible.builtin.shell:
    cmd: /usr/sbin/fapolicyd-cli --update
  when: __sap_fapolicy_stat_fifo_register.stat.exists
