# SPDX-License-Identifier: Apache-2.0
---

- name: SAP Control - Assert variables
  ansible.builtin.include_tasks:
    file: assert_variables.yml

- name: SAP Control - Gather facts about SAP Instances on the host
  ansible.builtin.include_tasks:
    file: detection/detect_sap.yml

- name: SAP Control - Prepare commands to be executed
  ansible.builtin.include_tasks:
    file: prepare.yml
  when:
    - __sap_control_fact_instances is defined
    - __sap_control_fact_instances | length > 0


- name: Block to execute only when commands are defined
  when:
    - __sap_control_fact_instances is defined
    - __sap_control_fact_instances | length > 0
    - __sap_control_commands is defined
    - __sap_control_commands | length > 0
  block:
    - name: SAP Control - Show execution steps
      ansible.builtin.debug:
        msg: |
          The Ansible Role `sap_control` is executed with function: '{{ sap_control_function }}'

          The following commands will now be executed in this order by listed users:
          {% for command in __sap_control_commands %}
          {{ command.user }}: {{ command.command }}
          {% endfor %}


    # Loop over unique SID + NR combinations, instead of full list.
    # This helps with functions like restart, where command list contains duplicates.
    - name: SAP Control - Ensure 'sapstartsrv' service is running
      ansible.builtin.include_tasks:
        file: actions/sapstartsrv.yml
      loop: "{{ __sap_control_commands | map(attribute='sid_nr') | list | unique }}"
      loop_control:
        loop_var: instance_sid_nr_item
        label: "{{ __command_sid }}_{{ __command_nr }}"
      vars:
        # Extraction from loop item is required, because we cannot access
        # them directly after selecting unique combination.
        __command_sid: "{{ instance_sid_nr_item.split('_')[0] | upper }}"
        __command_nr: "{{ instance_sid_nr_item.split('_')[1] }}"
        __command_user: "{{ __command_sid | lower }}adm"


    - name: SAP Control - Execute sapcontrol commands steps
      ansible.builtin.include_tasks:
        file: actions/sapcontrol.yml
      loop: "{{ __sap_control_commands }}"
      loop_control:
        loop_var: command_item
        label: "{{ command_item['sid'] }}_{{ command_item['nr'] }}_{{ command_item['name'] }}"
