# SPDX-License-Identifier: Apache-2.0
---

- name: SAP Control - Fail if 'sap_control_sid' is not present on host
  ansible.builtin.fail:
    msg: |
      FAIL: The variable 'sap_control_sid' is defined with '{{ sap_control_sid }}',
      but this SID is not present on this host.

      Detected SIDs: {{ __sap_control_fact_instances | map(attribute='SID') | list | unique | join(', ') }}
  when:
    - __sap_control_function['target'] == 'sid'
    - __sap_control_fact_instances | selectattr('SID', 'eq', sap_control_sid | upper)| list | length == 0

- name: SAP Control - Prepare instance list filtered by SID
  ansible.builtin.set_fact:
    __sap_control_fact_instances: >-
      {{ __sap_control_fact_instances
        | selectattr('SID', 'eq', sap_control_sid | upper)
        | list }}
  when: __sap_control_function['target'] == 'sid'

- name: SAP Control - Prepare commands to be executed
  ansible.builtin.include_tasks:
    file: prepare_commands.yml
  loop: "{{ __sap_control_function['steps'] }}"
  loop_control:
    loop_var: command_step_item
