# SPDX-License-Identifier: Apache-2.0
---

- name: SAP HANA Backint - Prepare and validate variables
  ansible.builtin.include_tasks:
    file: validation/main.yml

- name: SAP HANA Backint - Gather facts about SAP Systems on the host
  ansible.builtin.include_tasks:
    file: detection/detect_sids.yml

- name: SAP HANA Backint - Gather facts about SAP Instances on the host
  ansible.builtin.include_tasks:
    file: detection/detect_tenants.yml
  when:
    # hdbuserstore is not ready during first setup.
    - sap_hana_backint_action != 'setup'
    - sap_hana_backint_target_database in ['all', 'tenant']

- name: SAP HANA Backint - Execute action - {{ sap_hana_backint_action | d('') }}
  ansible.builtin.include_tasks:
    file: "{{ sap_hana_backint_action }}/main.yml"
